<div id="movies">
  <% @movies.each do |movie| %>
    <div>
      <%= link_to "#{movie.release_date.strftime("%y")} #{movie.title}", movie %>
      <%= render "shared/movie_release_info", movie: movie %>
    </div>
  <%  end %>
</div>