<h1>HOME PAGE</h1>
<div>
  <%= link_to 'add a new Movie', '/movies/new' %>
</div>
<div>
  <%= link_to 'add a new Genre', '/genres/new' %>
</div>
<div>
  <%= link_to 'add a new Director', '/directors/new' %>
</div>